.bodySolicitacao {
    display: flex;
}

.principalSolicitacao {
    width: 93vw;
    //border: solid blue;
    margin-left: 16px;

    //background-color: aqua;
}

.mainSolicitacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.formSolicitacao {
    display: flex;
    justify-content: space-between;

}

.headerSolicitacao {
    //border: solid red;
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-top: 25px;
    height: 2.5vh;

}

label {
    font-weight: 700;
    //font-size: 1rem;
    color: #23282F;
}

input,
select,
textarea {
    border-radius: 6px;
    border: solid #CBD4E1 0.8px;
    height: 5vh;
    width: 100%;
}

.grupo1 {
    //border: solid;
    width: 35%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.inputNome {

    width: 45%;
}

.inputEmpresa {
    
    width: 27%;
}

.inputPrestacao {
    width: 27%;
}

.inputMotivo {
    width: 100%;

    textarea {
        height: 10vh;
    }
}


.barraVertical {
    background-color: #CBD4E1;
    height: 25vh;
    width: 0.1vw;

}



.grupo2 {
    width: 61%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
}

.inputData {
    width: 19%
}

.inputTiposDespesas {
    width: 28%;
}

.inputCusto {
    width: 48%;
}

.inputOrdem {
    width: 8%;

}

.inputDiv, .inputPep, .inputDistKm {
    width: 7%;
}


.inputMoeda {
    width: 9%;
}


.inputValorKm {
    width: 10%;
}

.inputValorFaturado, .inputDespesa {
    width: 12%;
}


.botoes {
   
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;


    .salvar {
        width: 6vw;
        color: #ffffff;
        background-color: #001A3D;
    }

    .botaoDeletar{
        background-color: #00BEDD;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    border: solid #CBD4E1 0.8px;
}

th {
    background-color: #F1F4F9;
    font-size: 1rem;
    font-weight: 400;
    color: #23282F;


}

th,
td {
    border: solid;
    text-align: center;
    border: solid #CBD4E1 0.8px;

}