main{
    display: flex;
    //justify-content: space-evenly;
    //border: solid black;
    //height: 97vh;

    .containerLogin{
    background-image: url("../../assets/Tela Login/imagem tela de login.png");height: 100vh;
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid blue;
    
    
}

    .containerLoginForm{
        border: solid pink;
        width: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: solid red;
            width: 80%;
            height: 20vh;
            input{
                border-radius: 6px;
                width: 20vw;
                height: 5vh;
            }

            div{
                border: solid green;
                width: 50%;
                display: flex;
                justify-content: space-evenly;

                .entrar{
                    width: 6vw;
                    height: 5vh;
                    border-radius: 6px;
                }

                .criar{
                    width: 6vw;
                    height: 5vh;
                    border-radius: 6px;
                }
            }

        }
    }
    

}